[Unit]
Description=USB mass storage gadget for /diskimage/disk.img
After=network-online.target remote-fs.target
RequiresMountsFor=/diskimage
ConditionPathIsMountPoint=/diskimage
ConditionPathExists=/diskimage/disk.img

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe g_mass_storage file=/diskimage/disk.img removable=1 stall=0
ExecStop=/sbin/modprobe -r g_mass_storage

[Install]
WantedBy=multi-user.target
